<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="col-1"></div>
        <div class="col-1">
            <img src="../../../assets/Logo_ML.png" alt="">
        </div>
        <div class="col-9">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="parameter" placeholder="Nunca dejes de buscar" #words (keyup.enter)="search(words.value)" aria-label="Username" aria-describedby="basic-addon1">
                <span class="input-group-text search" (click)="search(words.value)"><img src="../../../assets/ic_Search.png" alt=""></span>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</nav>
<div class="container categorias">
    <router-outlet></router-outlet>
</div>